fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
loguru
langchain
langgraph
langchain-community
langchain-deepseek
dashscope
typing_extensions
httpx

pymilvus
llama-index-embeddings-dashscope
